@font-face {
  font-family:"PT Sans" ;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family:"PT Sans" ;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
:root {
  --main-font:"PT Sans", sans-serif;
}
html {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
  height: 100%;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
/* header */
.page-header{
  display: flex;
  align-items: center;
  width: 1200px;
  padding-right: 70px;
  padding-left: 70px;
}
.navigation__list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: 30px;
}
.navigation__link{
  /* в барбершопе на ссылках стоит display:block, но у меня и без этого свойства работают паддинги. Нужно ли прописывать это св-во? */
  font-size: 20px;
  display: block;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
  min-width: 100px;
}
.users-menu{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 310px;
  margin: 0;
  margin-left: auto;
}
/* не срабатывает минимальный размер, не понимаю почему. Пыталась поставить на ссылки display:block - начинает растягиваться ссылка избранное 12 */
.link-search{
  min-width: 44px;
  min-height: 64px;
}
.link-favourites{
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
  text-decoration: none;
  padding: 5px;
  margin-right: 20px;
  min-width: 44px;
  min-height: 64px;
}
.users-menu__link{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color:#FFFFFF ;
  background: #756157;
  border-radius: 4px;
  align-items: center;
  min-width: 160px;
  min-height: 64px;
  padding: 8px 10px ;
}
/* main */
.main-page{
  text-align: center;
}
.main-container {
  margin: 0 auto;
  flex-grow: 1;
}
/* section:hero */
.hero{
  text-align: center;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-color:#4595ca;
  background-size: cover;
  padding: 51px 0 82px 0;
}
/* section-advantages */
.advantages-wrapper{
  width: 1200px;
  padding: 69px 0;
  margin-bottom: 21px;
}
.advantages__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  width: 620px;
}
.advantages__text{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  width: 651px;
  margin: 0 auto;
  margin-top: 25px;
}
.advantages__list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages__item-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 385px;
  width: 400px;
  vertical-align: auto;
  padding: 90px 85px;
}
.advantages__item--img{
  width: 800px;
}
.advantages__item-wide{
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
}
.advantages__item--wide-reverse{
  flex-direction: row-reverse;
}
.advantages__item-narrow {
  background-color:rgba(131, 179, 211, 0.12);
}
.advantages__item-narrow--color{
  background-color:rgba(131, 179, 211, 0.2);
}
.advantages__photo{
  vertical-align: middle;
}
.advantages__sub-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 175px;
}
.advantages__sub-title--color{
  color: #FFFFFF;
}
.advantages__description{
  width: 230px;
  margin: 0;
  margin-top: 30px;
}
.advantages__description--color{
  color: #FFFFFF;
}
/* section-service */
.service{
  width: 1200px;
}
.service-wrapper{
  width: 1200px;
padding: 64px 0;
}
.service__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 505px;
  margin: 0 auto;
}
.service__text{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 490px;
  margin: 0 auto;
  margin-top: 20px;
}
.service__list{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.service__item--container{
  width: 400px;
  padding: 81px 85px 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}
.service__item--container-food{
  width: 400px;
  padding: 81px 85px 81px 85px;
  background-color: inherit;
}
.service__sub-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  width: 230px;
  margin: 0;
  margin-bottom: 30px;
}
.service__sub-title--house::before{
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
  background-image: url("../images/service-house.svg");
  background-repeat: no-repeat;
}
.service__sub-title--food::before{
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75px;
  height: 75px;
  background-image: url("../images/service-food.svg");
  background-repeat: no-repeat;
}
.service__sub-title--souvenir::before{
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 75px;
  height: 72px;
  background-image: url("../images/service-souvenir.svg");
  background-repeat: no-repeat;
}
.service__description{
  text-align: center;
  width: 230px;
  margin: 0;
}
/* section-booking-hotel */
.booking-hotel{
  padding: 96px 304px;
}
.booking-hotel__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 297px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.booking-hotel__text{
  font-size: 22px;
  line-height: 26px;
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}
.booking-hotel__link{
  flex-wrap: wrap;
  max-width: 592px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 5px 20px;
}
/* section-subscribe */
.subscribe{
  background-image: url("../images/subsribe.jpg");
  padding: 96px 258px 104px 258px;
  background-size: 100% auto;
  background-color: #82B3D3;
}
.subscribe__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 20px;
}
.subscribe__text{
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 54px;
}
.subscribe__form{
  display: flex;
}
.subscribe__input{
  display: inline-block;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 60%;
  background-color:#F2F2F2;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  flex-wrap: wrap;
  min-width: 452px;
  margin: 0;
  padding: 14px 20px;
}
.subscribe__button{
  display: inline-block;
  flex-wrap: wrap;
  min-width:132px ;
  font-family: inherit;
  font-style: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 50px;
  margin: 0;
}
 /* footer  */
.page-footer__container{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 40px auto 30px;
  align-items: center;
}
.socials{
  width: 142px;
}
.socials__list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.socials__item{
  width: 33%;
  height: 40px;
  padding: 0 10px;

}
.contacts{
  flex-wrap: wrap;
  text-align: center;
  width: 720px;
  padding: 5px 80px;
}
.contacts__phone{
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  width: 320px;
}
.copyright{
  width: 115px;
}
/* Catalog section-filters-hotels */
.filters-hotels{
  background-image: url("../images/filters-hotels-background.jpg");
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  margin: 0;
}
.filters-hotels__title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.breadcrumbs{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 40px 0;
  padding: 0;
  width: 114px;
}
.breadcrumbs__link{
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}
/* section-filters */
.forms{
  display: flex;
  width: 1060px;
}
.forms__group{
  min-width: 150px;
  padding: 0;
  margin: 0;
  border: 0;
}
.forms__group--cost{
  min-width: 288px;
}
.forms__title{
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.forms__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.forms__item{
  line-height: 23px;
  color: #FFFFFF;
margin-bottom: 16px;
}
.forms__item:last-child{
  margin-bottom: 0;
}
.forms__label{
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.forms__input{
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:  #000000;
}
.forms__input--cost{
  width: 143px;
  border: 0;
}
.forms__button-container{
  align-self: center;
  margin-left: 70px;
}
.forms__button{
  display:flex;
  justify-content: center;
  min-width: 191px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 20px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
}
.forms__button--reset{
  text-align: center;
  background-color: transparent;
}
/* section-catalog-hotels */
.catalog-hotels{
  padding: 50px 70px 60px 70px;
}
.catalog-hotels__container{
  display: flex;
  width: 1060px;
}
.catalog-hotels__title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  margin-right: auto;
  max-width: 500px;
}
.sorting__select{
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-right: 131px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  height: 49px;
}
.view{
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
}
.view__item{
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
}
.view__item:nth-child(3n){
  margin-right: 0;
}
.list-hotels{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
  padding: 0;
  width: 1060px;
  list-style: none;
}
.list-hotels__item{
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}
.list-hotels__img{
  vertical-align: middle;
}
.list-hotels__link{
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.list-hotels__detailed{
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 15px;
  border: 0;
  min-width: 130px;
}
.list-hotels__favourites{
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 8px 20px;
  border: 0;
  min-width: 140px;
}
.list-hotels__rating{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.list-hotels__favourites--contrast{
  background: #7DB54F;
  padding: 8px 13px;
}
/* ul-pagination  */
.pagination{
  display: flex;
  width: 1060px;
  margin: 40px 0 60px;
  padding: 0;
  list-style: none;
}
.pagination__item{
  margin-right: 8px;
}
.pagination__item:last-child{
  margin-right: 0;
}
.pagination__link{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  padding: 0 12px;
}
.pagination__link--active{
  color: #000000;
  background-color: #F2F2F2;
}
.pagination__link--dot{
  color: #000000;
  background-color: #F2F2F2;
}
/* section subscribe*/
.subscribe--catalog{
  background-color: #FFFFFF;
  background-image: none;
  text-align: center;
}
.subscribe__title--catalog{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.subscribe__text--catalog{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
